





.contact-map{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 455px;
    border-radius: 20px;
    margin-top: 50px;
}
.contact-map iframe{
    width: 100%;
    height: 100%;
}


.contact-flex{
    padding: 20px 32px;
    gap: 20px;
}
.contact-box{
    background: rgba(0, 99, 186, 0.1);
    max-width: 310px;
    width: 100%;
    padding: 30px 16px;
    gap: 10px;
    border-radius: 17px;
    min-height: 165px;
    justify-content: center;
}
.contact-box h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}
.contact-box a{
    color: rgba(0, 99, 186, 1);
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
}
.contact-box ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contact-box ul li{
    display: flex;
}
.contact-box ul li a{
    width: 32px;
    height: 32px;
}
.contact-box h3{
    font-size: 26px;
    text-align: center;

}
.contact-box span{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: rgba(0, 99, 186, 1);
    margin-top: 13px;

}
.contact-box .btn {
    font-family: "Jura";
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
    margin-top: 13px;
    justify-content: center;
    padding: 7px 21px;
    border-radius: 5px;
    max-width: 206px;
    height: 40px;
}
.contact-box:nth-child(2){
    max-width: 476px;
    width: 100%;
}











.error-page{
    padding: 190px 0 0;
    margin-bottom: 100px;
}
.error-page-flex .promotion-fon{
    max-width: 596px;
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
}
.error-page-flex{
    gap: 60px;
}

.error-page .btn-white {
    margin-top: 0;
}



@media (max-width: 1199px){
    .contact-flex {
        padding: 20px 0 0;
        gap: 16px;
    }
    .contact-box {
        max-width: 280px;
        padding: 20px 16px;
        min-height: 144px;
    }
    .contact-map {
        height: 391px;
        border-radius: 14px;
        margin-top: 38px;
    }
    .error-page-flex {
        gap: 30px;
    }
}
@media (max-width: 1020px){
    .contact-flex {
        padding: 20px 0 0;
        gap: 16px;
        flex-direction: column;
    }
    .contact-box h4 {
        font-size: 16px;
    }
    .contact-box {
        max-width: 480px;
    }
    .contact-box span {
        font-size: 16px;
        margin-top: 10px;
    }
    .contact-box h3 {
        font-size: 22px;
    }
    .error-page-flex {
        gap: 40px;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .error-page {
        padding: 120px 0 0;
        margin-bottom: 80px;
    }
    .error-page-photo {
        max-width: 254px;
        width: 100%;
    }
}