header{
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    z-index: 999;
    transition: 0.3s;
}
.header-main{
    padding: 10px;
    border-radius: 10px;
    background: rgba(229, 239, 248, 1);

}

.logo{
    gap: 12px;
    font-family: 'Jura';
    width: max-content;

}
.logo span{
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    font-family: 'Jura';
    color: rgba(0, 0, 0, 1);
}

.menu-mobile {
    gap: 265px;
}
.menu-scroll {
    gap: 15px;
}
.menu-scroll a{
    color: rgba(0, 0, 0, 1);
    text-align: center;
    transition: 0.3s;
    position: relative;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    font-family: 'Inter';

}
.menu-scroll a:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: rgba(0, 0, 0, 1);
    transition: 0.3s;
}
.menu-scroll a:hover:after{
    width: 100%;
}
.menu-scroll a:hover{
    opacity: 0.8;
}
header .btn{
    font-size: 14px;
    padding: 7px 28px;
    max-width: 140px;
    height: 32px;
    border-radius: 4px;
}
.open-menu{
    display: none;
}
.close-menu {
    display: none;
}
.close-menu span {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;

}

.close-menu span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
    position: relative;
}
.close-menu span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -3px;
}

.close-menu span:nth-child(3){
    display: none;
}

.body_fix {
    overflow: hidden;
}

.menu-name-mob{
    display: none;
}

@media (max-width: 1199px) {


    .menu-mobile {
        gap: 157px;
    }
}
@media (max-width: 1020px) {
    .nav-menu{
        position: relative;
        z-index: 1;
    }
    .menu-name-mob{
        display: block;
    }
    header {
        top: 14px;
    }
    .open-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        transition: 0.3s;
        z-index: 111111;
        width: 24px;
        height: 24px;
    }
    .open-menu span{
        display: flex;
        background: rgba(0, 0, 0, 1);
        width: 20px;
        height: 2px;
        transition: 0.3s;
    }

    .menu-content {
        width: 100%;
        position: fixed;
        z-index: 99999;
        top: 15px;
        left: 0;
        transition: 0.5s;
        height: 0;
        overflow: hidden;
        padding: 0 15px;
    }
    .transition-menu {
        height: 365px;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .menu-mobile{
        padding: 12px 10px;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin: 0 auto;
        gap: 25px;
        border-radius: 10px;
        backdrop-filter: blur(30px);
        align-items: flex-start;
        background: rgba(229, 239, 248, 1);

    }

    .nav-menu ul {
        gap: 20px 16px;
        max-width: 274px;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-mobile .glob-tit-name{
        display: flex;
        margin: 0;
    }

    .menu-name-mob {
        width: 100%;
    }
    .logo {
        gap: 8px;
    }















}

