
h1{
    color: rgba(0, 0, 0, 1);
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;

}
h1 span{
    font-size: 45px;
    font-weight: 700;

}
h2{

    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: rgba(0, 0, 0, 1);
    text-align: left;
}
h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 125%;
    text-align: left;

}

p{
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter';

}



.section-margin{
    margin-top: 120px;
}

.btn{
    width: 100%;
    max-width: 357px;
    height: 48px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
    border-radius: 11px;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    transition: 0.3s;
    white-space: nowrap;
    background: rgba(0, 99, 186, 1);
    font-family: 'Inter';

}
.btn:hover{
    background: #03549b;
}







/*===========-global-style-end-===========*/



.scratches-main{
    margin-top: 162px;
    width: 100%;
}
.scratches-flex{
    gap: 40px;
}
.scratches-info{
    max-width: 577px;
    width: 100%;
}
.scratches-info p{
    margin-top: 40px;
    max-width: 520px;
    width: 100%;
}
.scratches-info p span{
    color: rgba(0, 99, 186, 1);
}
.scratches-info .btn{
    margin-top: 70px;
}

.scratches-iphone{
    max-width: 385px;
    width: 100%;
}


.scratches-autoplay{
    margin-top: 100px;
}



.marquee-wrapper {
    overflow: hidden;
    width: 100%;
    margin-top: 56px;
}

.marquee-track {
    display: flex;
    width: max-content;
    gap: 30px;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    to {
        transform: translateX(-50%);
    }
}
.marquee-item{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Jura";
    font-weight: 300;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
}


.polishing-flex{
    gap: 30px;
    margin-bottom: 80px;
}
.polishing-info{
    max-width: 564px;
    width: 100%;

}
.polishing-title{
    max-width: 530px;
    width: 100%;

}
.polishing-title p{
    margin-top: 20px;
}
.polishing-title p span{
    color: rgba(0, 99, 186, 1);
}
.polishing-col{
    margin-top: 40px;
    gap: 20px;
    width: 100%;
}
.polishing-box{
    gap: 10px;
    width: 100%;
}
.polishing-count{
    background: #2196F3;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 36px;
    width: 100%;
    height: 36px;
    border-radius: 6px;
    font-size: 22px;
    line-height: 100%;
    color: #ffffff;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 5px;
    font-family: 'Inter';

}
.polishing-name{
    background: rgba(229, 239, 248, 1);
    max-width: 517px;
    width: 100%;
    gap: 10px;
    border-radius: 12px;
    padding: 10px;

}
.polishing-name span{
    color: rgba(0, 99, 186, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    vertical-align: middle;
    font-family: 'Inter';

}
.polishing-name p{
    margin-top: 10px;
}


.polishing-photo {
    margin-bottom: -29px;
}







.advantages-flex{
    margin-top: 60px;
    gap: 30px;
}
.advantages-photo{
    max-width: 475px;
    width: 100%;
    justify-content: center;
}
.advantages-col{
    max-width: 650px;
    width: 100%;
    gap: 26px;

}
.advantages-box{
    width: 100%;
    background: rgba(0, 99, 186, 0.1);
    padding: 20px 30px;
    gap: 15px;
    border-radius: 10px;

}
.advantages-name{
    gap: 15px;
}
.advantages-name img{
    width: 32px;
}
.advantages-name h3{
    color: rgba(0, 99, 186, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
}
.advantages-box p{
    margin-top: 15px;
}





.referral-program{
    background: rgba(0, 99, 186, 1);
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    gap: 25px;
    border-radius: 44px;
    padding: 40px;

}
.referral-title{
    gap: 20px;
    margin-bottom: 25px;
}
.referral-title img{
    max-width: 40px;
    width: 100%;
}
.referral-title h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: rgba(255, 255, 255, 1);

}
.referral-program h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: rgba(255, 255, 255, 1);
    margin-top: 25px;
}
.referral-program p{
    margin-top: 10px;
    color: rgba(255, 255, 255, 1);
    font-family: "Jura";

}

.referral-program ul li{
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: 10px;
}
.btn-white{
    margin-top: 48px;
    background: rgba(255, 255, 255, 1);
    max-width: 442px;
    width: 100%;
    height: 52px;
    border-radius: 11px;
    padding: 12px 24px;
    color: rgba(0, 99, 186, 1);
    transition: 0.3s;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
}
.btn-white:hover{
    background: unset;
    color: #ffffff;
}


.our-arrow-btn{
    position: relative;
    gap: 10px;
}
.swiper-button-next, .swiper-button-prev{
    background: rgba(0, 99, 186, 1);
    width: 50px;
    height: 50px;
    border-radius: 11px;
    transition: 0.3s;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    transform: unset;
    position: relative;
    font-family: "Jura";
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 5px;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    background: #03549b;
}
.swiper-button-next{
    padding-left: 5px;
}
.swiper-button-next:after, .swiper-button-prev:after{
    display: none;
}

.our-works-rel{
    position: relative;
    margin-top: 70px;
}

.swiper-pagination{
    display: none;
}
.our-works-photo img{
    width: 100%;
    border-radius: 20px;
}


.talk-about-info{
    background: rgba(0, 99, 186, 0.1);
    width: 100%;
    height: 292px;
    padding: 20px 30px;
    gap: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.talk-about-info p{
    font-weight: 400;
    font-size: 14px;

}
.talk-about-pic{
    background: rgba(255, 255, 255, 1);
    width: max-content;
    gap: 15px;
    border-radius: 10px;
    padding: 10px;
}
.talk-about-pic img{
    max-width: 30px;
    width: 100%;
}
.talk-about-pic span{
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
}





.shine-flex{
    gap: 60px;
}
.shine-photo{
    max-width: 324px;
    width: 100%;
}
.shine-form{
    background: rgba(0, 99, 186, 1);
    max-width: 761px;
    width: 100%;
    gap: 25px;
    border-radius: 44px;
    padding: 40px;

}
.shine-form .referral-title{
    margin: 0;
}
.shine-form p{
    color: #ffffff;
    font-family: "Jura";
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
}
.shine-col{
    gap: 25px;
}
.shine-form .btn-white{
    margin: 0;
}
.shine-wrap{
    gap: 10px;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}
.form-input{
    width: 49%;
}
.form-input label{
    display: flex;
    width: 100%;
}
.form-input input{
    width: 100%;
    background: unset;
    border: 1px solid rgba(255, 255, 255, 1);
    height: 30px;
    padding: 8px 10px;
    border-radius: 5px;
    color: #fff;
    font-family: "Jura";
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
}
.form-input input::placeholder{

    color: rgba(255, 255, 255, 0.5);
}








footer{
    margin-top: 100px;
    padding-bottom: 20px;
}
.footer-fon{
    background: rgba(0, 99, 186, 0.1);
    border-radius: 15px;
    width: 100%;
    padding: 20px 15px;
    position: relative;
}


.footer-cnt{
    width: 100%;
}
footer .logo {
    gap: 2px;
}
footer .logo img{
    width: 58px;
}
footer .logo span{
    font-size: 25px;
    font-weight: 700;
}

.footer-menu{
    flex: 1;
    display: flex;
    justify-content: center;
    padding-right: 150px;
}


.footer-contact{
    margin-top: 12px;
    gap: 3px;
}
.footer-contact a{
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}
.footer-policy{
    margin-top: 70px;
}
.footer-policy p{
    max-width: 165px;
    width: 100%;
    font-family: "Jura";
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.6);
}

.policy{
    font-family: "Jura";
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}
.policy:hover{
    color: rgba(0, 0, 0, 1);

}
.policy-center{
    display: flex;
    flex: 1;
    justify-content: center;
    padding-right: 150px;
}
.footer-pic{
    position: absolute;
    bottom: 0;
    right: 30px;
}












@media (max-width: 1199px){
    .scratches-main {
        margin-top: 137px;
    }
    h1 {
        font-size: 34px;
    }
    h1 span {
        font-size: 40px;
    }
    .scratches-info {
        max-width: 488px;
    }
    .scratches-info .btn {
        margin-top: 48px;
    }
    .scratches-iphone {
        max-width: 330px;
    }
    .scratches-info p {
        margin-top: 29px;
    }
    .marquee-item {

        font-size: 24px;
    }
    .polishing-info {
        max-width: 520px;
    }
    .polishing-photo {
        margin-bottom: -21px;
        max-width: 378px;
    }
    h2 {
        font-size: 32px;
    }
    .advantages-photo {
        max-width: 380px;
    }
    .advantages-box {
        padding: 14px 20px;
    }
    .advantages-col {
        gap: 16px;
    }
    .advantages-flex {
        margin-top: 35px;
        gap: 20px;
    }
    .section-margin {
        margin-top: 110px;
    }
    .our-works-rel {
        margin-top: 40px;
    }
    .shine-photo {
        max-width: 251px;
    }
    .btn {
        max-width: 315px;
        padding: 9px 24px;
        font-size: 18px;
    }


}
@media (max-width: 1020px){
    h1 {
        font-size: 30px;
    }
    h1 span {
        font-size: 35px;
    }
    .scratches-flex {
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }
    .scratches-main {
        margin-top: 110px;
    }
    .scratches-info {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        text-align: center;
    }
    .scratches-info .btn {
        margin-top: 24px;
    }
    .scratches-info p {
        margin-top: 20px;
        text-align: center;
    }
    .polishing-flex {
        gap: 40px;
        margin-bottom: 70px;
        flex-direction: column;
        align-items: center;
    }

    .polishing-info {
        max-width: 100%;
    }
    .polishing-name {
        max-width: 100%;

    }
    .polishing-col {
        margin-top: 25px;
        gap: 16px;
        width: 100%;
    }
    .advantages-flex {
        margin-top: 35px;
        gap: 20px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .advantages-col {
        max-width: 100%;
        gap: 16px;
    }
    .advantages-name img {
        width: 24px;
    }
    .advantages-name h3 {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
    }
    .referral-program {
        border-radius: 20px;
        padding: 28px;
    }
    .referral-program h4 {
        font-size: 20px;
        margin-top: 20px;
    }
    p {
        font-size: 15px;
    }
    .referral-title h3 {
        font-size: 22px;
    }
    .btn-white {
        margin-top: 30px;
        max-width: 378px;
        height: 48px;
        padding: 10px 24px;
        font-size: 20px;
    }
    .swiper-button-next, .swiper-button-prev {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        font-size: 28px;
        padding-bottom: 1px;
    }
    .swiper-button-next {
        padding-left: 2px;
    }
    .talk-about-info {
        height: 276px;
        padding: 15px 20px;
        gap: 15px;
        border-radius: 14px;
    }
    .shine-flex {
        gap: 40px;
        flex-direction: column-reverse;
    }
    .shine-form {
        gap: 20px;
        border-radius: 20px;
        padding: 30px;
    }
    .referral-title {
        gap: 14px;
    }
    .referral-title img {
        max-width: 28px;
    }
    .shine-form p {
        font-size: 16px;
    }
    footer {
        margin-top: 70px;
    }
    .footer-fon {
        flex-direction: column;
        align-items: center;
        display: flex;
    }
    .footer-cnt {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    footer .logo span {
        font-size: 21px;
    }
    .footer-menu {
        padding-right: 0;
        margin-top: 20px;
    }
    .footer-menu ul{
        flex-direction: column;
        align-items: center;
    }
    .footer-contact {
        margin-top: 20px;
        gap: 4px;
        align-items: center;
    }
    .footer-policy {
        margin-top: 36px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer-pic {
        position: absolute;
        bottom: 0;
        right: 10px;
    }
    .footer-policy p {

        text-align: center;
    }
    .policy-center {
        padding-right: 0;
        margin-bottom: 16px;
    }
    .container {
        padding: 0 15px;
    }

}
@media (max-width: 767px){
    h1 {
        font-size: 24px;
    }
    h1 span {
        font-size: 30px;
    }
    .marquee-item {
        font-size: 20px;
    }
    .marquee-track {
        gap: 20px;
    }

    h2 {
        font-size: 24px;
    }
    .section-margin {
        margin-top: 80px;
    }
    .polishing-count {
        max-width: 32px;
        height: 32px;
        font-size: 18px;
    }
    .polishing-name span {
        font-size: 15px;
    }
    p {
        font-size: 14px;
    }
    .advantages-flex {
        margin-top: 22px;
    }
    .referral-program ul li {
        font-size: 16px;
        margin-top: 9px;
    }
    .our-works-rel {
        margin-top: 24px;
    }
    .our-arrow-btn{
        display: none;
    }
    .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }
    .our-works-rel{
        padding-bottom: 30px;
    }

    .our-works-rel .swiper-pagination{
        bottom: 0;
    }
    .swiper-pagination-bullet-active {
        background: rgba(0, 99, 186, 1);
    }
    .shine-wrap {
        max-width: 380px;
        width: 100%;
        justify-content: center;
    }
    .form-input {
        width: 100%;
    }
    .form-input input {
        height: 36px;
        padding: 8px 10px;
        font-size: 14px;
    }
    .btn-white {
        height: 46px;
        padding: 10px 24px;
        font-size: 18px;
        border-radius: 9px;
    }
    .scratches-info p br{
        display: none;
    }
}
@media (max-width: 575px){
    .referral-program h4 {
        font-size: 18px;
        margin-top: 20px;
    }
    .referral-title h3 {
        font-size: 20px;
    }
    .our-works-photo img {
        width: 100%;
        border-radius: 9px;
    }
    .referral-title img {
        max-width: 24px;
    }
    .referral-title {
        gap: 10px;
    }
    .shine-form {
        gap: 20px;
        border-radius: 12px;
        padding: 30px 14px;
    }
    .footer-pic{
        display: none;
    }
}