.battle-polish-wrap{
    margin-top: 70px;
    padding: 20px;
    gap: 24px 30px;
}
.battle-polish-box{
    align-items: center;
    border-radius: 28px;
    border: 1px solid rgba(229, 239, 248, 1);
    background: #ffffff;
    width: calc(33.333333vw - 89px);
    overflow: hidden;
}
.battle-polish-box img{
    max-width: 276px;
    width: 100%;
}
.battle-polish-name{
    width: 100%;
    padding: 20px;
}
.battle-polish-name h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}
.battle-polish-name span{
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: rgba(0, 99, 186, 1);
}
.battle-polish-name .btn{
    font-family: 'Jura';

    margin: 22px auto 0;
    padding: 8px 24px;
    max-width: 236px;
    height: 32px;
    font-size: 14px;

}





.replacement-cnt{
    margin-top: 80px;
    gap: 30px;
}

.replacement-cnt img{
    width: 100%;
}

.replacement-cnt p{
    font-family: "Jura";
    font-weight: 500;
    font-size: 20px;

}



@media (max-width: 1199px){
    .battle-polish-wrap {
        margin-top: 60px;
        padding: 0;
        gap: 24px 20px;
    }
    .battle-polish-box {
        width: calc(33.333333vw - 27px);
    }
    .replacement-cnt {
        margin-top: 54px;
        gap: 20px;
    }
}
@media (max-width: 1020px){
    .battle-polish-box {
        width: calc(50vw - 27px);
    }
    .replacement-cnt p {
        font-size: 16px;
    }
    .replacement-cnt {
        margin-top: 34px;
    }
}
@media (max-width: 620px){
    .battle-polish-wrap {
        margin-top: 35px;
        justify-content: center;
    }
    .battle-polish-box {
        width: 100%;
        max-width: 450px;
    }
    .battle-polish-name {
        padding: 16px;
    }
}