

@font-face {
    font-family: 'Jura';
    src: url('Jura-Regular.eot');
    src: local('Jura Regular'), local('Jura-Regular'),
    url('Jura-Regular.eot?#iefix') format('embedded-opentype'),
    url('Jura-Regular.woff2') format('woff2'),
    url('Jura-Regular.woff') format('woff'),
    url('Jura-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('Jura-Bold.eot');
    src: local('Jura Bold'), local('Jura-Bold'),
    url('Jura-Bold.eot?#iefix') format('embedded-opentype'),
    url('Jura-Bold.woff2') format('woff2'),
    url('Jura-Bold.woff') format('woff'),
    url('Jura-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('Jura-Medium.eot');
    src: local('Jura Medium'), local('Jura-Medium'),
    url('Jura-Medium.eot?#iefix') format('embedded-opentype'),
    url('Jura-Medium.woff2') format('woff2'),
    url('Jura-Medium.woff') format('woff'),
    url('Jura-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
























@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
    url('Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('Inter-Regular.woff2') format('woff2'),
    url('Inter-Regular.woff') format('woff'),
    url('Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
    url('Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('Inter-Bold.woff2') format('woff2'),
    url('Inter-Bold.woff') format('woff'),
    url('Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraBold.eot');
    src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
    url('Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Inter-ExtraBold.woff2') format('woff2'),
    url('Inter-ExtraBold.woff') format('woff'),
    url('Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

